streamlit
boto3
openai
python-dotenv
google-cloud-asset
google-api-core
google-cloud-core
google-auth
protobuf
pinecone
extract_msg
langchain
langchain-openai
openpyxl
pandas
xlrd 
pypdf
pdfminer.six
nltk
python-pptx


